.background-img{
    margin-left: -12px;
    width: 106%;
    height: auto;
}

.headline{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

p{
    margin-left: 15px;
    margin-right: 15px;
}