body{
    background-color: white;
}

.navbar-default{
    width: 100%;
    margin: -8px;
    background-color: darkslategrey;
    text-align: left;  
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

li{
    display: inline-block;
}

li a{
    color: white;
    margin-right: 25px;
    text-decoration: none;
}

li a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    li{
        display: block;
    }
    li a{
        color: white;
        margin-right:3px;
        padding-bottom: 3px;
        padding: 3px;
        text-decoration: none;
    }
    .top-left{
        font-size: 0px;
        font-weight: bold;
        position: absolute;
    }
}

img{
    margin-left: -10px;
    margin-top: 8px;
    width: 110%;
    height: auto;
    object-fit: cover;
    opacity: 1;
}
