body{
    background-color: white;
}

.navbar{
    background-color: darkslategrey;
    text-align: left;  
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-brand{
    margin-top: 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

li{
    display: inline;
}

li a{
    color: white;
    margin-right:25px;
    padding: 15px;
    text-decoration: none;
}

li a:hover{
    background-color:lightslategray ;
}

@media screen and (max-width: 800px) {
    li{
        display: block;
    }
    li a{
        color: white;
        margin-right:3px;
        padding-bottom: 3px;
        padding: 3px;
        text-decoration: none;
    }
    .top-left{
        font-size: 0px;
        font-weight: bold;
        position: absolute;
    }
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 1;
}

.container{
    position: relative;
    text-align: center;
    color: white;
}

.top-left{
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    top: 18px;
    left: 18px;
}