.background-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: auto;
}
.background{
    background-color: whitesmoke;
    border-top: solid;
    border-color: lightgrey;
}
.headline{
    font-weight: bold;
    font-size: 30px;
}

p{
    margin-left: 35px;
    margin-right: 15px;
}

.room-img{
    width: 100%;
    padding-bottom: 25px;
}

.col-5{
    border: solid;
    border-color: lightgrey;
    border-style: outset;
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
    margin-left: 55px;
}

.col-11{
    display: inline-block;
    border: solid;
    border-color: lightgrey;
    border-style: outset;
    border-radius: 15px;
    padding: 10px; 
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 36px;
}

.desc{
    margin-left: 25px;
    padding: 10px;
}

.news{
    padding: 15px;
}

.room-desc{
    font-size: 20px;
    font-weight: bold;
    margin-left: 7px;
}

.col-4{
    margin-top: 15px;
    padding: 15px;
}

.adminpic{
    display: inline-block;
}

.img-thumbnail{
    padding-top: 0px;
}