.background-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: auto;
}

.headline{
    font-weight: bold;
    font-size: 30px;
}

p{
    margin-left: 35px;
    margin-right: 15px;
}

.room-img{
    width: 100%;
    padding-bottom: 25px;
}

.col-lg-6{
    border: solid;
    border-color: lightgrey;
    border-style: outset;
    padding: 10px;
}

.col-lg-12{
    background-color: whitesmoke;
    display: inline-block;
    border: solid;
    border-color: lightgrey;
    border-style: outset;
    padding: 10px; 
    margin-bottom: 15px;
    margin-top: 15px;
}

.desc{
    margin-left: 25px;
    padding: 10px;
}

.news{
    padding: 15px;
}

.room-desc{
    font-size: 20px;
    font-weight: bold;
    margin-left: 7px;
}

.col-6{
    margin-top: 15px;
    padding: 15px;
}

.imp-img{
    margin-left: 35px;
}

.col-lg-4{
    padding-top: 35px;
}