
body{
    background-color: white;
    text-align: center;
}

form{
    margin-top: 100px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 15px;
    padding: 40px;
    display: inline-block;
    text-align: left;
}

form p{
    text-align: left;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
}

input{
    padding: 3px;
    border-style: solid;
    border-radius: 5px;
}

nav{
    background-color: darkslategrey;
    text-align: right;  
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

li{
    display: inline;
}

li a{
    color: white;
    margin-right:25px;
    padding: 15px;
    text-decoration: none;
}

li a:hover{
    background-color:lightslategray ;
}
