
body{
    background-color: white;
}

form{
    margin-top: 150px;
    margin-bottom: 150px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 15px;
    padding: 40px;
    display: inline-block;
    text-align: left;
}

form p{
    text-align: left;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
}

input{
    padding: 4px;
    border-style: solid;
    border-radius: 5px;
}

.user-form{
    text-align: center;
}

.room-form{
    text-align: center;
}
p{
    margin-left: 0px;
}

.greeting{
    text-align: center;
}

.loginstatus{
    font-weight: bold;
    padding: 25px;
}