
body{
    background-color: lightgray;
    text-align: center;
}

form{
    padding-top: 20px;
    display: inline-block;
}

nav{
    background-color: gray;
    text-align: left;
    padding-left: 35px;
    padding-top: 15px;
}