
body{
    background-color: white;
}

form{
    margin-top: 180px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 15px;
    padding: 40px;
    display: inline-block;
    text-align: left;
}

form p{
    text-align: left;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
}

input{
    padding: 4px;
    border-style: solid;
    border-radius: 5px;
}

.primary-btn{
    background-color: lightgrey;
    padding: 5px;
    border-radius: 5px;
}

.user-form{
    text-align: center;
}

p{
    margin-left: 15px;
}
