form{
    margin-top: 50px;
    margin-bottom: 50px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 15px;
    padding: 40px;
    display: inline-block;
    text-align: left;
}

form p{
    text-align: left;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
}

.room-form{
    text-align: center;
}
p{
    margin-left: 0px;
}

.greeting{
    text-align: center;
}