form{
    display: inline-block;
    text-align: left;
}

form p{
    text-align: left;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
}

.room-form{
    text-align: center;
}

p{
    margin-left: 0px;
}

.greeting{
    text-align: center;
}

.date{
    border-radius: 5px;
    padding: 10px;
    padding-right: 75px;
}

.col-lg-4{
    padding-top: 25px;
    padding-bottom: 25px;
}

.room-img{
    width: 100%;
    border: solid;
    border-color: lightgrey;
    border-style: outset;
}
.room-desc{
    padding-top: 15px;
    font-weight: bold;
}
.desc{
    margin-left: 20px;
    padding: 10px;
}

.headline{
    font-size: 30px;
    font-weight:bold;
    text-align: center;
}

.loginstatus{
    font-weight: bold;
    padding: 25px;
}