form{
    margin-top: 50px;
    margin-bottom: 50px;
    border-color: lightgray;
    border-radius: 15px;
    padding: 40px;
    display: inline-block;
    text-align: left;
}

form p{
    text-align: left;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
}

.room-form{
    text-align: center;
}

p{
    margin-left: 0px;
}

.greeting{
    text-align: center;
}

.date{
    border-radius: 5px;
    padding: 10px;
    padding-right: 75px;
}

.col-sm-4{
    background-color: whitesmoke;
    border: solid;
    border-color: lightgrey;
    border-style: outset;
    border-radius: 15px;
    padding: 10px;
}

.room-img{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 25px;
}

.desc{
    margin-left: 25px;
    padding: 10px;
}